{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h2>Create new Event</h2>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_event_index') }}">back to list</a>
{% endblock %}
