{% extends 'base.html.twig' %}

{% block title %}New GaleryPicture{% endblock %}

{% block body %}
    <h2>Créer une galerie d'images</h2>

    {{ include('galery_picture/_form.html.twig') }}

    <a href="{{ path('app_galery_picture_index') }}">Revenir à la liste</a>
{% endblock %}
