{% extends 'base.html.twig' %}

{% block title %}New GaleryPicture{% endblock %}

{% block body %}
    <h2>Create new GaleryPicture</h2>

    {{ include('galery_picture/_form.html.twig') }}

    <a href="{{ path('app_galery_picture_index') }}">back to list</a>
{% endblock %}
