{% extends 'base.html.twig' %}

{% block title %}New InterventionTeam{% endblock %}

{% block body %}
    <h1>Create new InterventionTeam</h1>

    {{ include('intervention_team/_form.html.twig') }}

    <a href="{{ path('app_intervention_team_index') }}">back to list</a>
{% endblock %}
