{% extends 'base.html.twig' %}

{% block title %}New InterventionTeam{% endblock %}

{% block body %}
    <h1>Créer une équipe d'intervention</h1>

    {{ include('intervention_team/_form.html.twig') }}

    <a href="{{ path('app_intervention_team_index') }}">Revenir à la liste</a>
{% endblock %}
