{% extends 'base.html.twig' %}

{% block title %}New ProductConnector{% endblock %}

{% block body %}
    <h2>Create new ProductConnector</h2>

    {{ include('product_connector/_form.html.twig') }}

    <a href="{{ path('app_product_connector_index') }}">back to list</a>
{% endblock %}
