{% extends 'base.html.twig' %}

{% block title %}New ProductConnector{% endblock %}

{% block body %}
    <h2>Créer un connecteur de produit</h2>

    {{ include('product_connector/_form.html.twig') }}

    <a href="{{ path('app_product_connector_index') }}">Revenir à la liste</a>
{% endblock %}
