{% extends 'base.html.twig' %}

{% block title %}New SiteEvent{% endblock %}

{% block body %}
    <h1>Create new SiteEvent</h1>

    {{ include('site_event/_form.html.twig') }}

    <a href="{{ path('app_site_event_index') }}">back to list</a>
{% endblock %}
