{% extends 'base.html.twig' %}

{% block title %}New SiteEvent{% endblock %}

{% block body %}
    <h2>Créer un événement de site</h2>

    {{ include('site_event/_form.html.twig') }}

    <a href="{{ path('app_site_event_index') }}">Revenir à la liste</a>
{% endblock %}
