{% extends 'base.html.twig' %}

{% block title %}New EventDetail{% endblock %}

{% block body %}
    <h2>Créer un nouveau détail d'événement</h2>

    {{ include('event_detail/_form.html.twig') }}

    <a href="{{ path('app_event_detail_index') }}">Revenir à la liste</a>
{% endblock %}
