{% extends 'base.html.twig' %}


{% block title %}Edit Product{% endblock %}

{% block body %}
  

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn bg-primary" href="{{ path('app_product_index') }}">Revenir à la liste</a>

{% endblock %}
