{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h2>Create new Product</h2>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
