{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h2>Créer un nouveau produit</h2>

    {{ include('product/_form.html.twig') }}

    <a class="btn bg-primary text-light" href="{{ path('app_product_index') }}">Revenir à la liste</a>
{% endblock %}
