@use "~bootstrap/scss/bootstrap";

$primary : #6c5ce7;
$secondary : #d63031;
$ternary : #74b9ff;
$warning : #fdcb6e;
$success : #00b894;
$danger : #e17055;
$card : #7e7f83;

$textColor : #000;
$textSpan : rgba(0, 0, 0, 0.4);

body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.monTitre {
  background-color: #212529; // équivalent de bg-dark
  color: white;
  padding: 1rem 0;
  text-align: center;
}


body.loaded {
    visibility: visible;
}

.monTitre {
    background-color: rgb(29, 28, 34);
    color: white;
    padding: 20px;
    text-align: center;
}

.no-transition,
.no-transition * {
    transition: none !important;
}

.theCard {
    background-color: rgba(231, 239, 245, 0.9) !important;
    color: black !important;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;
}

.MyDiv {
    background-color: rgb(132, 145, 172, 100) !important;
    padding: 20px;
    border-radius: 1rem;
    margin: 2rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-self: normal;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;
}

.MyTable {
    background-color: rgb(132, 145, 172, 100) !important;
    text-align: center;
}

td input {
    display: inline-block;
    margin: 0 auto;
}

.CellStart {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;
    padding: 0px 0px 0px 2rem !important;
    border-radius: 2rem 0px 0px 2rem;
}

.cellEnd {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-radius: 0px 2rem 2rem 0px;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;
}

.MyCell {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;
    text-align: center;
}

select,
option,
input[type="number"] {
    background-color: rgb(132, 145, 172, 100) !important;
    color: white !important;
    width: auto !important;
    cursor: pointer;
}

input[type="number"] {
    width: 3rem !important;
    padding: 0;
    font-size: 0.8rem;
}

.myCard {
    background-color: rgb(132, 145, 172, 100) !important;
    display: none;
    position: fixed;
    top: 0%;
    left: 30%;
    z-index: 1000;
    background-color: rgb(97, 99, 101);
    padding: 20px;
    border-radius: 10px;
    Border: 1px solid black
}

a {
    color: black !important;
    text-decoration: none;
}

nav {
    color: white !important;
}

.modal-form {
    display: none;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 1000;
    background-color: rgb(83, 142, 231);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

td {
    align-content: center;
}

.lightning-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #0a0f2c;
    pointer-events: none;
}
