@import "~bootstrap/scss/bootstrap";

$primary : #6c5ce7;
$secondary : #d63031;
$ternary : #74b9ff;
$warning : #fdcb6e;
$success : #00b894;
$danger : #e17055;

$textColor : #000;
$textSpan : rgba(0, 0, 0, 0.4);

$bgDark : #1B1F3B;
$navDark : #2C2F3E;
$cardDark : #2C2F3E;
$inputDark : #2C2F3E;
$btnDark : #5023f5;
$txtLight : #ecf0f1;

body {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;

}

body.loaded {
    visibility: visible;
    /* Affiche quand le JS est prêt */
}

.no-transition,
.no-transition * {
    transition: none !important;
}

body.dark-mode {
    background-color: $bgDark !important;
    transition: 0.5s;
}




// .navbar,h1, h2, h3, h4, h5, h6, .card, .btn, .table, .modal-content {
//     background-color: $navDark !important;
//     color: $txtLight;
//     transition: 0.5s;

// }

/* Navbar en mode sombre */
.dark-mode .navbar {
    background-color: $navDark !important;
    color: $txtLight;
    transition: 0.5s;

}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
    color: $txtLight;
    transition: 0.5s;

}

.dark-mode .navbar a {
    color: $txtLight !important;
    transition: 0.5s;

}

/* Cartes Bootstrap */
.dark-mode .card {
    background-color: $cardDark;
    color: $txtLight;
    transition: 0.5s;

}

/* Boutons Bootstrap */
.dark-mode .btn {
    background-color: $btnDark;
    color: $txtLight;
    border-color: $txtLight;
    transition: 0.5s;

}

.dark-mode .btn:hover {
    background-color: $txtLight;
    color: var(--btn-dark);
    transition: 0.5s;

}

/* Tableaux Bootstrap */
.dark-mode .table {
    background-color: $cardDark;
    color: $txtLight;
    transition: 0.5s;

}

.dark-mode .table th,
.dark-mode .table td {
    background-color: $cardDark;
    border-color: $txtLight;
    color: $txtLight;
    transition: 0.5s;

}

/* Modals en mode sombre */
.dark-mode .modal-content {
    background-color: $cardDark;
    color: $txtLight;
    transition: 0.5s;
}

.dark-mode label {
    color: $txtLight;
    transition: 0.5s;
}

.dark-mode input {
    background-color: $inputDark;
    color: $txtLight;
    transition: 0.5s;
}

.dark-mode select {
    background-color: $inputDark !important;
    color: $txtLight;
    transition: 0.5s;
}

.dark-mode option {
    background-color: $inputDark !important;
    color: $txtLight;
    transition: 0.5s;
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
    color: $txtLight;
    opacity: 0.7;
    /* Réduit l'opacité du texte */
    transition: 0.5s;

}

// --------------------------- style table ---------------------------

.MyDiv {
    background-color: rgb(132, 145, 172, 100) !important;
    padding: 20px;
    border-radius: 1rem;
    margin: 2rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.MyTable {
    background-color: rgb(132, 145, 172, 100) !important;
    padding: 20px;
    border-radius: 1rem;
    margin: 2rem;
    display: contents;


}

.CellStart {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;
    padding: 0px 0px 0px 2rem !important;
    border-radius: 2rem 0px 0px 2rem;
}

.cellEnd {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-radius: 0px 2rem 2rem 0px;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;


}

.MyCell {
    background-color: rgb(84, 92, 108, 100) !important;
    color: white !important;
    border-top: 1rem solid rgb(132, 145, 172, 100) !important;
    border-bottom: 1rem solid rgb(132, 145, 172, 100) !important;
    text-align: center;
}

select,
option,
input[type="number"] {
    background-color: rgb(132, 145, 172, 100) !important;
    color: white !important;
    width: auto !important;

    cursor: pointer;
}
input[type="number"] {
    width: 3rem !important;
    padding: 0;
    font-size: 0.8rem;
}

.myCard {
    background-color: rgb(132, 145, 172, 100) !important;
    display: none;
    position: fixed;
    top: 0%;
    left: 30%;
    z-index: 1000;
    background-color: rgb(97, 99, 101);
    padding: 20px;
    border-radius: 10px;
    Border: 1px solid black
}