@import "~bootstrap/scss/bootstrap";

$bg-dark: #343a40;
$txtLight: #f4f4f4;


body {
    background-color: white;
    transition:  1s ease-in-out !important;
}

.bg-dark {
    background-color: $bg-dark;
    transition: 5s ease-in-out !important;
}

.txt-light {
    color: $txtLight;
}

a {
    color: black !important;
    text-decoration: none; /* Supprime le soulignement si nécessaire */
}
