{% extends 'base.html.twig' %}

{% block title %}New Technician{% endblock %}

{% block body %}
    <h1 class="text-light text-center">Créer un technicien</h1>

    {{ include('technician/_form.html.twig') }}

    <a href="{{ path('app_technician_index') }}">Revenir à la liste</a>
{% endblock %}
