{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h2>Créer un nouveau Contact</h2>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}">Revenir à la liste</a>
{% endblock %}
