{% extends 'base.html.twig' %}

{% block title %}Edit SpareParts{% endblock %}

{% block body %}
    <h1>Edit SpareParts</h1>

    {{ include('spare_parts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_spare_parts_index') }}">back to list</a>

    {{ include('spare_parts/_delete_form.html.twig') }}
{% endblock %}
