{% extends 'base.html.twig' %}

{% block title %}New Connector{% endblock %}

{% block body %}
    <h2>Create new Connector</h2>

    {{ include('connector/_form.html.twig') }}

    <a href="{{ path('app_connector_index') }}">back to list</a>
{% endblock %}
