{% extends 'base.html.twig' %}

{% block title %}New Connector{% endblock %}

{% block body %}
    <h2>Créer un nouveau connector</h2>

    {{ include('connector/_form.html.twig') }}

    <a href="{{ path('app_connector_index') }}">Revenir à la liste</a>
{% endblock %}
