{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h2>Modifier mon profil</h2>



    

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home') }}">Accueil</a>

    
{% endblock %}
