{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h2>Modifier mon profil</h2>


<div class="MyDiv col-12 col-md-8 col-lg-6">

    
 {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

</div>
    

   
    <a class="btn bg-success" href="{{ path('app_home') }}">Accueil</a>

    
{% endblock %}
